extends _base

append scripts
  script(src='/static/js/tinymce/tinymce.min.js')
  script.
    tinymce.init({
      selector: 'textarea',
      content_css: '/static/css/editor.css',
      menubar: false,
      plugins: 'link image code',
      toolbar: 'styleselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist | link unlink image | code'
    });

block body
  .edit-post
    form(method='post')
      label Title
        input(type='text', name='title', value=data.post.title)
      if data.templates.length > 1
        label Template
          select(name='template')
            each template in data.templates
              option(value=template, selected=(data.post.template==template)) #{template.charAt(0).toUpperCase() + template.slice(1)}
      else
        input(type='hidden', name='template', value=data.templates[0])
      .grid-container
        .half
          label Date
            input(type='date', name='date', value=data.post.date)
        .half
          label Slug
            input(type='text', name='slug', value=data.post.slug)
      label Content
        textarea(name='content', rows='20') #{data.post.content}

      .submit-block
        if data.saved
          span.info.success-color Saved!
        if !data.isnew
          a.delete-color(href='/admin/delete/'+data.post.slug) Delete
        input.main-button(type='submit', value='Save')
