extends _base

append scripts
  script(src='/admin/static/js/tinymce/tinymce.min.js')
  script.
    tinymce.init({
      selector: '[data-wysiwyg]',
      content_css: '/admin/static/css/editor.css',
      menubar: false,
      plugins: 'link image code',
      toolbar: 'styleselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist | link unlink image | code',
      file_browser_callback: function(field_name, url, type, win) {
        if (type === 'image') showMediaModal(function(file) {
          $('#'+field_name).val(file);
        });
      },
      setup: function(ed) {
        ed.on('change', function(ev) {
          ev.target.targetElm.value = ed.getContent();
          jQuery(ev.target.targetElm).change();
        });
      }
    });

block title
  if data.isnew
    h1 New Post
  else
    h1 Edit Post
block body
  .edit-post
    form(method='post')
      if data.templates.length > 1
        .grid-container
          .threequarter
            label Title
              input(type='text', name='title', value=data.post.title)
          .onequarter
            label Template
              span.styled-select: select(name='template')
                each template in data.templates
                  option(value=template, selected=(data.post.template==template))= template.charAt(0).toUpperCase() + template.slice(1)
      else
        label Title
          input(type='text', name='title', value=data.post.title)
        input(type='hidden', name='template', value=data.templates[0])
      label Content
        textarea(name='content', rows='20', data-wysiwyg)= data.post.content

      section.modal-window.-maxwidth(data-settings-modal)
        .content
          h3 Settings
          a.close.fa.fa-times
          .grid-container
            .half
              label Date
                input(type='date', name='date', value=data.post.date)
            .half
              label Slug
                input(type='text', name='slug', value=data.post.slug, data-update-slug-from=data.isnew?'[name=title]':null)
          hr
          label Meta Title
            input(type='text', name='metatitle', value=data.post.metatitle, data-metatitle='[name=title]')
          label Meta Description
            textarea(name='metadesc', rows='3', data-metadesc='[name=content]')= data.post.metadesc
          label Meta Preview
            .meta-preview
              span(data-preview-metatitle).title= data.post.title
              span.url= data.canonicalbase
                span(data-preview-metaurl)
              span(data-preview-metadesc).desc= data.post.content

      .submit-block
        a(data-open='[data-settings-modal]').fa.fa-cog.settings
        if data.saved
          span.info.success-color Saved!
        if !data.isnew
          a.delete-color(href='/admin/delete/'+data.post.slug) Delete
        input.main-button(type='submit', value='Save')
